body {
    background-image: url(pxfuel.jpg);
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.9);
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border: 0.6px solid #000000;
    border-radius: 10px;
}

.input{
    background-color: #af2727;
    border-radius: 5px;
    border: solid 0.5px black;
    color: #fff;
}

h1,p {
    color: #fff
}

.mensaje {
    font-size: 16px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #af2727;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #731b1b;
}

#resultado {
    color: #2980b9;
    margin-top: 15px;
    font-weight: bold;
}
