body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #000000, #001f3f);
    display: flex;
    justify-content: center;  
    align-items: center;
}

.container-form {
    display: flex;
    width: 350px;
    background: linear-gradient(145deg, #013220, #025c3c);
    box-shadow: 0px 0px 25px rgba(0, 255, 170, 0.25);
    color: beige;
    margin: 80px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    padding: 20px;
    animation: aparecer 2.s ease;
    animation: aparecer 2.s ease, brillo 3s infinite ease-in-out;

}

.container-form input,
.container-form select {
    width: 90%;
    margin-bottom: 8px;
    background-color: black;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.container-form button {
    background-color: #0aff85;
    color: #003d00;
    margin-top: 10px;
    padding: 10px 70px;
    border-radius: 60px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}

.container-form button:hover {
    background-color: #00cc66;
    color: #fff;
    box-shadow: 0px 0px 25px #131212;
    transform: scale(1.08);
    box-shadow: 0px 0px 20px rgba(0, 255, 170, 0.5);
}


.carrera {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.carrera input[type="radio"] {
    margin-right: 5px;
    margin-top: 5px;
}

.carrera label {
    color: beige;
}

